<!doctype html>
<html lang='ko' ng-app="myApp" ng-controller="customersCtrl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <title>전국 실거래가 단독/다가구 매매 정보</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/png">
    <script src="js/angular.1.4.7.min.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/Chart.js"></script>
    <script src="js/angular-chart.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular-busy.min.js"></script>
    <link rel="stylesheet" href="css/angular-chart.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/angular-busy.min.css">
  </head>
<body>

   <!-- Navbar
    ================================================== -->
  <ul class="nav nav-tabs">
  <li ng-class="amIActive('aptsale')"><a ng-click="setAppType('aptsale')">아파트 매매</a></li>
  <li ng-class="amIActive('flatsale')"><a ng-click="setAppType('flatsale')">연립-다세대 매매</a></li>
  <li ng-class="amIActive('housesale')"><a ng-click="setAppType('housesale')">단독-다가구 매매</a></li>
  <li ng-class="amIActive('aptrent')"><a ng-click="setAppType('aptrent')">아파트 전/월세</a></li>
  <li ng-class="amIActive('flatrent')"><a ng-click="setAppType('flatrent')">연립-다세대 전/월세</a></li>
  <li ng-class="amIActive('houserent')"><a ng-click="setAppType('houserent')">단독-다가구 전/월세</a></li>
  </ul>

  <h2>  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    전국 실거래가 {{appNameList[appType]}} 정보
    <!-- <small>지원 브라우즈: <img src="no_ie.png"> (IE는 잘안됩니다.)</small> -->
  </h2>
<form>
  <div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>지역 선택:
   시도 <select name="state" ng-model="loc.state" ng-change="getCity();">
    <option ng-repeat="state in stateArr" value="{{state}}">{{state}}</option>
  </select>

  시군구 <select name="city" ng-model="loc.city" ng-change="getCounty();">
    <option ng-repeat="city in cityArr | orderBy" value="{{city}}">{{city}}</option>
  </select>

  읍면동 <select name="county" ng-model="loc.county" ng-change="getRegion();getAptName();">
    <option ng-repeat="county in countyArr | orderBy" value="{{county}}">{{county}}</option>
  </select>

  <span ng-show="regionArr.length>2">기타 <select name="region" ng-model="loc.region" ng-change="upAll();getAptName();">
    <option ng-repeat="region in regionArr | orderBy" value="{{region}}">{{region}}</option>
  </select></span>

  <!-- apt related selection -->
   <span ng-show="isAptkind">단지명 <select name="aptName" ng-model="loc.aptName" ng-change="getAptArea();">
    <option ng-repeat="aptName in aptNameArr | orderBy" value="{{aptName}}">{{aptName}}</option>
  </select></span>

   <span ng-show="isAptkind">전용면적(㎡) <select name="area" ng-model="loc.area" ng-change="upAll();">
    <option ng-repeat="area in aptAreaArr | orderBy" value="{{area}}">{{area}}</option>
  </select></span>

  <span ng-show="isRentkind">전/월세 <select name="monthlyType" ng-model="loc.monthlyType" ng-change="upAll();">
    <option ng-repeat="monthlyType in rentArr"  value="{{monthlyType}}">{{monthlyType}}</option>
  </select></span>
  <!--
</div>
<div class="alert alert-warning" role="alert">
-->
  &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>년도 선택:
  <select name="startYear" ng-model="loc.startYear" ng-change="upAll();">
   <option ng-repeat="start in startYears" value="{{start}}">{{start}}</option>
 </select>
  부터
  <select name="endYear" ng-model="loc.endYear" ng-change="upAll();">
   <option ng-repeat="end in endYears" value="{{end}}">{{end}}</option>
 </select>
  까지
  &nbsp;<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
  거래량 보기: <input type="checkbox" ng-model="showCount" ng-change="updateGraph();">
</div>
</form>
<!-- info block -->
<div cg-busy="{promise:statPromise,message:'통계 정보를 읽고 있습니다...'}"></div>
<div ng-hide="errorFlag" class="alert alert-info" role="alert">
  선택된 지역: {{loc.state + " " + loc.city + " " +
  loc.county + " " + loc.region + " " +
  loc.aptName + " " + loc.area + " " +
  loc.monthlyType}} 을(를)
  {{loc.startYear}} 부터 {{loc.endYear}} 까지.
<!--  <A href=#list> -->
 &nbsp;<a class="btn btn-primary" role="button" href="#list">
  <span class="badge">{{saleListCount()}}</span> 건의 거래 정보</a> 가 있습니다.
</div>

<!-- error block -->
<div ng-show="errorFlag" class="alert alert-danger text-center" role="error">
  <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
  인터넷 연결이 불안정 합니다.
  <a class="btn btn-primary" role="button" ng-click="reconnect();"> 다시 연결 시도하기</a>
</div>

<!-- <div ng-show="statArr.length!=0"> -->
  <canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" >
</canvas>
<!-- </div> -->

<!--
<table class="table">
  <tr ng-repeat="stat in statArr">
    <td>{{ stat.year }}</td>
    <td>{{ stat.month }}</td>
    <td>{{ stat.c }}</td>
    <td>{{ stat.avgAmtArea }}</td>
    <td>{{ stat.avgAmtLand }}</td>
</tr>
</table>
-->
<a name="list"></a>
<div cg-busy="{promise:salePromise,message:'계약 정보를 읽고 있습니다...'}"></div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading" ng-show="saleListCount()=='500+'">
    <strong>{{loc.city + " " + loc.county + " " + loc.region}}
    {{loc.startYear}} 부터 {{loc.endYear}}의 자세한 거래 정보 (최대 500건만 보여줍니다. 지역과 년도를 선택하세요.)</strong></div>
  <div class="panel-heading" ng-hide="saleListCount()=='500+'">
    <strong>{{loc.city + " " + loc.county + " " + loc.region}}
    {{loc.startYear}} 부터 {{loc.endYear}}의 자세한 거래 정보 (총 {{saleListCount()}} 건)
    </strong></div>
</div>

  <!-- Table -->
  <!-- 단독 전/월세: 시군구  계약면적(㎡) 전월세구분 계약일 보증금(만원) 월세(만원)  건축년도  도로명-->
<table class="table" ng-show="appType=='houserent' ">
    <tr>
      <th>#</th>
      <th>년월</th>
      <th>지역명</th>
      <th class="text-right">계약면적(㎡)</th>
      <th>구분</th>
      <th class="text-right">보증금(만원)</th>
      <th class="text-right">월세(만원)</th>
      <th>도로명 (지도링크)</th>
    </tr>
    <tr ng-repeat="sale in saleArr">
      <td>{{$index+1}}</td>
      <td>{{sale.year}}/{{sale.month}}</td>
      <td>{{sale.fullLoc}}</td>
      <td class="text-right">{{sale.area}}</td>
      <td>{{sale.monthlyType}}</td>
      <td class="text-right">{{sale.deposit | currency:"":0 }}</td>
      <td class="text-right">{{sale.monthlyPay | currency:"":0 }}</td>
      <td><A target="_blank" href="{{mapEncode(sale)}}">{{sale.avenue}}</a></td>
    </tr>
  </table>

  <!-- 연립 전/월세: 시군구  본번  부번  단지명 전월세구분 전용면적(㎡) 계약일 보증금(만원) 월세(만원)  층 건축년도
    도로명 -->
  <!-- APT 전월세: 시군구 본번  부번  단지명 전월세구분 전용면적(㎡) 계약일 보증금(만원) 월세(만원)  층 건축년도  도로명 -->
  <table class="table" ng-show="appType=='flatrent' || appType=='aptrent' ">
    <tr>
      <th>#</th>
      <th>년월</th>
      <th>지역명</th>
      <th>단지명</th>
      <th class="text-right">전용면적(㎡)</th>
      <th>구분</th>
      <th class="text-right">보증금(만원)</th>
      <th ng-hide="loc.monthlyType=='전세'" class="text-right">월세(만원)</th>
      <th>층</th>
      <th>도로명 (지도링크)</th>
    </tr>
    <tr ng-repeat="sale in saleArr">
      <td>{{$index+1}}</td>
      <td>{{sale.year}}/{{sale.month}}</td>
      <td>{{sale.fullLoc}}</td>
      <td>{{sale.aptName}}</td>
      <td class="text-right">{{sale.area}}</td>
      <td>{{sale.monthlyType}}</td>
      <td class="text-right">{{sale.deposit | currency:"":0 }}</td>
      <td ng-hide="loc.monthlyType=='전세'" class="text-right">{{sale.monthlyPay | currency:"":0 }}</td>
      <td class="text-right">{{sale.floor}}</td>
      <td><A target="_blank" href="{{mapEncode(sale)}}">{{sale.avenue}}</a></td>
    </tr>
  </table>


  <!-- 단독/다가구 매매: 시군구 주택유형  연면적(㎡)  대지면적(㎡) 계약일 거래금액(만원)  건축년도  도로명 -->
  <table class="table" ng-show="appType=='housesale' ">
    <tr>
      <th>#</th><th>년월</th>
      <th>지역명</th>
      <th class="text-right">거래금액(만원)</th>
      <th class="text-right">건물총면적(㎡)/건축연도</th>
      <th class="text-right">대지면적(㎡)</th>
      <th>구분</th>
      <th>도로명 (지도링크)</th>
    </tr>
    <tr ng-repeat="sale in saleArr">
      <td>{{$index+1}}</td>
      <td>{{sale.year}}/{{sale.month}}</td>
      <td>{{sale.fullLoc}}</td>
      <td class="text-right">{{sale.amount | currency:"":0 }}</td>
      <td class="text-right">{{sale.area}}/{{sale.builtYear}}</td>
      <td class="text-right">{{sale.landArea}}</td>
      <td>{{sale.type}}</td>
      <td><A target="_blank" href="{{mapEncode(sale)}}">{{sale.avenue}}</a></td>
    </tr>
  </table>

  <!-- APT 매매: 시군구  본번  부번  단지명 전용면적(㎡) 계약일 거래금액(만원)  층 건축년도  도로명 -->
  <!-- 연립 매매: 시군구 본번  부번  단지명 전용면적(㎡) 대지권면적(㎡)  계약일 거래금액(만원)  층 건축년도  도로명 -->
  <table class="table" ng-show="appType=='aptsale' || appType=='flatsale' ">
    <tr>
      <th>#</th>
      <th>년월</th>
      <th>지역명</th>
      <th>단지명</th>
      <th class="text-right">거래금액(만원)</th>
      <th class="text-right">전용면적(㎡)</th>
      <th class="text-right" ng-show="appType=='flatsale'">대지권면적(㎡)</th>
      <th class="text-right">층</th>
      <th>건축연도</th>
      <th>도로명 (지도링크)</th>
    </tr>
    <tr ng-repeat="sale in saleArr">
      <td>{{$index+1}}</td>
      <td>{{sale.year}}/{{sale.month}}</td>
      <td>{{sale.fullLoc}}</td>
      <td>{{sale.aptName}}</td>
      <td class="text-right">{{sale.amount | currency:"":0 }}</td>
      <td class="text-right">{{sale.area}}</td>
      <td class="text-right" ng-show="appType=='flatsale'">{{sale.landArea}}</td>
      <td class="text-right">{{sale.floor}}</td>
      <td>{{sale.builtYear}}</td>
      <td><A target="_blank" href="{{mapEncode(sale)}}">{{sale.avenue}}</a></td>
    </tr>
  </tr>
</table>

<div class="alert alert-danger" role="alert">
  <a href="http://rt.molit.go.kr/" class="alert-link text-center"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
    이 사이트가 보여주는 자료는 프로그램의 버그등으로 인해 오류가 있을수 있습니다. 정확한 자료는 국토부 홈페이지에서 한번더 확인하세요.</a>
</div>

<p class="text-center">
  <button class="btn btn-primary" type="button">
  만든이: <span class="badge">hunkim+kp@gmail.com</span>
</button>

<button class="btn btn-sucess" type="button">
자료: <span class="badge">국토교통부 실거래 파일</span>
</button>

<a href="http://aws.amazon.com">
<img src="aws.png"></a>
</body>
<!-- app.js added -->
<script src="js/app.js"></script>

</html>
