<!doctype html>
<html lang='ko' ng-app="myApp" ng-controller="customersCtrl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <title>전국 실거래가 단독/다가구 매매 정보</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/png">
    <script src="js/angular.1.4.7.min.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/Chart.js"></script>
    <script src="js/angular-chart.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular-busy.min.js"></script>
    <link rel="stylesheet" href="css/angular-chart.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/angular-busy.min.css">
  </head>
<body>
  <h2>  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 전국 실거래가 단독/다가구 매매 정보
    <small>지원 브라우즈: <img src="no_ie.png"> (IE는 잘안됩니다.)</small>
  </h2>
<form>
  <div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>지역 선택:
   시/도 <select name="city" ng-model="loc.city" ng-change="getCounty();">
    <option ng-repeat="city in cityArr" value="{{city}}">{{city}}</option>
  </select>

  구/시 <select name="county" ng-model="loc.county" ng-change="getRegion();">
    <option ng-repeat="county in countyArr | orderBy" value="{{county}}">{{county}}</option>
  </select>

  동/읍 <select name="region" ng-model="loc.region" ng-change="getRegion1();">
    <option ng-repeat="region in regionArr | orderBy" value="{{region}}">{{region}}</option>
  </select>

  <span ng-show="region1Arr.length>1">리/기타 <select name="region1" ng-model="loc.region1" ng-change="upAll();">
    <option ng-repeat="region1 in region1Arr | orderBy" value="{{region1}}">{{region1}}</option>
  </select></span>
  <!--
</div>
<div class="alert alert-warning" role="alert">
-->
  &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>년도 선택:
  <select name="startYear" ng-model="loc.startYear" ng-change="upAll();">
   <option ng-repeat="start in startYears" value="{{start}}">{{start}}</option>
 </select>
  부터
  <select name="endYear" ng-model="loc.endYear" ng-change="upAll();">
   <option ng-repeat="end in endYears" value="{{end}}">{{end}}</option>
 </select>
  까지
  &nbsp;<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
  거래량 보기: <input type="checkbox" ng-model="showCount" ng-change="updateGraph();">
</div>
</form>
<!-- info block -->
<div cg-busy="{promise:statPromise,message:'통계 정보를 읽고 있습니다...'}"></div>
<div ng-hide="errorFlag" class="alert alert-info" role="alert">선택된 지역: {{loc.city + " " + loc.county + " " + loc.region}} 을(를)
  {{loc.startYear}} 부터 {{loc.endYear}} 까지.
<!--  <A href=#list> -->
 &nbsp;<a class="btn btn-primary" role="button" href="#list">
  <span class="badge">{{saleListCount()}}</span> 건의 거래 정보</a> 가 있습니다.
</div>

<!-- error block -->
<div ng-show="errorFlag" class="alert alert-danger text-center" role="error">
  <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
  인터넷 연결이 불안정 하나거 저희 서버가 이상합니다.
  <a class="btn btn-primary" role="button" ng-click="reconnect();"> 다시 연결 시도하기</a>
</div>

<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" >
</canvas>

<!--
<table class="table">
  <tr ng-repeat="stat in statArr">
    <td>{{ stat.year }}</td>
    <td>{{ stat.month }}</td>
    <td>{{ stat.c }}</td>
    <td>{{ stat.avgAmtArea }}</td>
    <td>{{ stat.avgAmtLand }}</td>
</tr>
</table>
-->
<a name="list"></a>
<div cg-busy="{promise:salePromise,message:'계약 정보를 읽고 있습니다...'}"></div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading" ng-show="saleArr.length>=500"><strong>{{loc.city + " " + loc.county + " " + loc.region}}
    {{loc.startYear}} 부터 {{loc.endYear}}의 자세한 거래 정보 (최대 500건만 보여줍니다. 지역과 년도를 선택하세요.)</strong></div>
  <div class="panel-heading" ng-hide="saleArr.length>=500"><strong>{{loc.city + " " + loc.county + " " + loc.region}}
    {{loc.startYear}} 부터 {{loc.endYear}}의 자세한 거래 정보 (총 {{saleArr.length}} 건)</strong></div>
</div>
  <!-- Table -->
  <table class="table">
    <tr>
      <th>#</th><th>년월</th>
      <th>지역명</th>
      <th class="text-right">가격 (만원)</th>
      <th class="text-right">건물총면적(㎡)/건축연도</th>
      <th class="text-right">대지면적(㎡)</th>
      <th>구분</th>
      <th>도로명 (지도링크)</th>
    </tr>
  <tr ng-repeat="sale in saleArr">
    <td>{{$index+1}}</td>
    <td>{{sale.year}}/{{sale.month}}</td>
    <td>{{sale.fullCity}}</td>
    <td class="text-right">{{sale.amount | currency:"":0 }}</td>
    <td class="text-right">{{sale.area}}/{{sale.builtYear}}</td>
    <td class="text-right">{{sale.landArea}}</td>
    <td>{{sale.type}}</td>
    <td><A target="_blank" href="{{mapEncode(sale)}}">{{sale.avenue}}</a></td>
  </tr>
</table>

<div class="alert alert-danger" role="alert">
  <a href="http://rt.molit.go.kr/" class="alert-link text-center"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
    이 사이트가 보여주는 자료는 프로그램의 버그등으로 인해 오류가 있을수 있습니다. 정확한 자료는 국토부 홈페이지에서 한번더 확인하세요.</a>
</div>

<p class="text-center">
  <button class="btn btn-primary" type="button">
  만든이: <span class="badge">hunkim+kp@gmail.com</span>
</button>

<button class="btn btn-sucess" type="button">
자료: <span class="badge">국토교통부 실거래 파일</span>
</button>
</body>
</html>

<script>
var app = angular.module('myApp', ['chart.js', 'cgBusy']);

app.controller('customersCtrl',
  function($scope, $http) {
    // API Host
    $rhost = "http://api.kproperty.xyz";

    // API URLs
    $regionUrl = $rhost + "/trend/regions.php";
    $saleUrl = $rhost + "/trend/q.php";
    $statUrl = $rhost + "/trend/q.php/stat";

    // show count option in the graph
    $scope.showCount = true;

    // http error flag
    $scope.errorFlag = false;

    // default action
    $scope.cityArr = [
      "","서울특별시","부산광역시","대구광역시","인천광역시","광주광역시","대전광역시","울산광역시","세종특별자치시",
      "경기도","강원도","충청북도","충청남도","전라북도","전라남도","경상북도","경상남도","제주특별자치도"];

    // year min and max
    $scope.minYear = 2006;
    $scope.maxYear = 2015;

    // loc selection
    $scope.loc = {city: "", county: "", region: "", region1: "", startYear: $scope.minYear, endYear: $scope.maxYear};

    // Chart Data
    $scope.series = ['건물총면적 평당 가격', '대지면적 평당 가격', '거래량'];
    $scope.labels = [];
    $scope.data = [[],[],[]];

    // stat and sale array
    $scope.statArr = [];
    $scope.saleArr=[];

    // county and region array
    $scope.countyArr = [];
    $scope.regionArr = [];
    $scope.region1Arr = [];

    // recovering from network error
    $scope.reconnect = function() {
        $scope.errorFlag = false;  //reset the flag and let's hope

        // check if county is loaded
        if ($scope.regionArr.length==0 && $scope.loc.county!="") {
          $scope.getRegion();
        } else if ($scope.countyArr.length==0 && $scope.loc.city!="") {
          $scope.getCounty();
        }

        // no statdate? reload!
        if ($scope.statArr.length == 0) {
          $scope.getStat();
        }

        // no sale array? reload!
        if ($scope.saleArr.length == 0) {
          $scope.getSales();
        }
      };

      // local function for KR URL encodning
      koEncode = function($s) {
        if ($s==null || $s=="") {
          return $s;
        }
        return encodeURI(encodeURIComponent($s));
      };

      // return information for daum map
      $scope.mapEncode = function($sale) {
        if ($sale==null) {
          return "";
        }
        return "http://map.daum.net/?q='" + $sale.fullCity + " " + $sale.avenue + "'";
    };

    // based on the startYear selection, we adjust the endYear list
    $scope.$watch('loc.startYear', function() {
      $scope.endYears=[];
      for (i=$scope.loc.startYear; i<=$scope.maxYear; i++) {
        $scope.endYears.push(i);
      }
    });

    // based on the end year selecion, we adjust the start year list
    $scope.$watch('loc.endYear', function() {
      $scope.startYears=[];
      for (i=$scope.minYear; i<=$scope.loc.endYear; i++) {
        $scope.startYears.push(i);
      }
    });

    // update the graph (based on watch statArr)
    $scope.updateGraph = function() {
    // nothing to update
    if($scope.statArr.length==0) {
      return;
    }

    // show count? Then, three series. Otherwise, two
    if ($scope.showCount) {
      $scope.series = ['건물총면적 평당 가격 (만원)', '대지면적 평당 가격 (만원)', '거래량'];
    } else {
      $scope.series = ['건물총면적 평당 가격 (만원)', '대지면적 평당 가격 (만원)'];
    }

    // reset graph array
    $scope.labels = [];
    $scope.data=[];
    $scope.data[0]=[];
    $scope.data[1]=[];

    // Init if nedded
    if ($scope.showCount) {
      $scope.data[2]=[];
    }

    var statLen = $scope.statArr.length;
    for (var i = 0; i < statLen; i++) {
      $scope.labels[i] = $scope.statArr[i].year + "/" + $scope.statArr[i].month;
      $scope.data[0][i] = $scope.statArr[i].avgAmtArea; // 평당가격
      $scope.data[1][i] = $scope.statArr[i].avgAmtLand; // 평당가격
      if ($scope.showCount) {
        $scope.data[2][i] = $scope.statArr[i].c;
      }
    }
  };

  // watch stat array
  $scope.$watchCollection('statArr', function() {
    $scope.updateGraph();
  }, true); // deep checking

  // greaph on click. TODO: what should we do?
  $scope.onClick = function (points, evt) {
    //console.log(points, evt);
  };

   // get county array
   $scope.getCounty = function() {
       // clear region
       $scope.countyArr = [];
       $scope.regionArr = [];
       $scope.region1Arr = [];

       $scope.loc.county = "";
       $scope.loc.region = "";
       $scope.loc.region1 = "";

       $scope.countyPromise = $http.get($regionUrl + "?city=" + koEncode($scope.loc.city))
        .success(function (response) {$scope.countyArr = response;})
        .error(function (response) {$scope.errorFlag=true;});

       // update sales information
      $scope.upAll();
    };

    // get region array
    $scope.getRegion = function() {
       $scope.regionArr = [];
       $scope.region1Arr = [];

       $scope.loc.region = "";
       $scope.loc.region1 = "";

       $scope.regionPromise = $http.get($regionUrl + "?city=" + koEncode($scope.loc.city) +
            "&county=" + koEncode($scope.loc.county))
       .success(function (response) {$scope.regionArr = response;})
       .error(function (response) {$scope.errorFlag=true;});

       // update sales information
       $scope.upAll();
     };

     // get region array
     $scope.getRegion1 = function() {
        $scope.region1Arr = [];

        $scope.loc.region1 = "";

        $scope.regionPromise = $http.get($regionUrl + "?city=" + koEncode($scope.loc.city) +
             "&county=" + koEncode($scope.loc.county) +
             "&region=" + koEncode($scope.loc.region)
           )
        .success(function (response) {$scope.region1Arr = response;})
        .error(function (response) {$scope.errorFlag=true;});

        // update sales information
        $scope.upAll();
      };

     $scope.upAll = function () {
       $scope.getSales();
       $scope.getStat();
     };

     $scope.saleListCount = function () {
       if ($scope.saleArr==null) {
         return 0;
       }

       if ($scope.saleArr.length>=500) {
         return "500+"
       }

       return $scope.saleArr.length;
     };

     $scope.getStat = function() {
         $scope.statArr=[];
         $scope.statPromise = $http.get($statUrl + "?city=" + koEncode($scope.loc.city) +
          "&county=" + koEncode($scope.loc.county) +
          "&region=" + koEncode($scope.loc.region) +
          "&region1=" + koEncode($scope.loc.region1) +
          "&startyear=" + $scope.loc.startYear +
          "&endyear=" + $scope.loc.endYear
          )
        .success(function (response) {$scope.statArr = response;})
        .error(function (response) {$scope.errorFlag=true;});
      };

     $scope.getSales = function() {
       $scope.saleArr=[];
       $scope.salePromise = $http.get($saleUrl + "?city=" + koEncode($scope.loc.city) +
          "&county=" + koEncode($scope.loc.county) +
          "&region=" + koEncode($scope.loc.region) +
          "&region1=" + koEncode($scope.loc.region1) +
          "&startyear=" + $scope.loc.startYear +
          "&endyear=" + $scope.loc.endYear)
        .success(function (response) {$scope.saleArr = response;})
        .error(function (response) {$scope.errorFlag=true;});
      };

    // Show all for the initial screen
    $scope.upAll();
});
</script>
